<section>
  <div class='container mt-5'>
    <h4>Add Station</h4>
    <div class='rowmt-5'>
      <div class='col-md-6'>
        <form action="/add-station" method="POST" >
          <div class='form-group mt-4'>
            <label for=''>
             Station Code
            </label>
            <input
              type='text'
              class='form-control'
              name="station_code"
              placeholder='Station Code'
            />
          </div>
          <div class='form-group mt-4'>
            <label for=''>
              Station Name
            </label>
            <input
              type='text'
              class='form-control'
              name="station_name"
              placeholder='Station name'
            />
          </div>
          <button type='submit' class='btn btn-primary mt-4'>
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</section>