<section>
  <div class='container mt-5'>
    <h4>Add Schedule</h4>
    <div class='row mt-5'>
      <div class='col-md-6'>
        <form action="/add-schedule" method="POST" >
          <div class='form-group mt-4'>
            <label for=''>
             Schedule Id
            </label>
            <input
              type='text'
              class='form-control'
              name="schedule_id"
              placeholder='Schedule Id'
            />
          </div>
          <div class='form-group mt-4'>
            <label for=''>
              Train Id
            </label>
            <input
              type='text'
              class='form-control'
              name="train_id"
              placeholder='Train Id'
            />
          </div>
          <div class='form-group mt-4'>
            <label for=''>
              Source
            </label>
            <input
              type='text'
              class='form-control'
              name="source"
              placeholder='Source'
            />
          </div>
          <div class='form-group mt-4'>
            <label for=''>
              Destination
            </label>
            <input
              type='text'
              class='form-control'
              name="destination"
              placeholder='Destination'
            />
          </div>
          <div class='form-group mt-4'>
            <label for=''>
              Departure Time
            </label>
            <input
              type='text'
              class='form-control'
              name="departure_time"
              placeholder='Departure time'
            />
          </div>
          <div class='form-group mt-4'>
            <label for=''>
              Arrival Time
            </label>
            <input
              type='text'
              class='form-control'
              name="arrival_time"
              placeholder='Arrival Time'
            />
          </div>
          <button type='submit' class='btn btn-primary mt-4'>
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</section>