<section>
    <div class="container pt-5">
        <div class="row">
            <h3>Edit Train</h3>
            <div class='col-md-6'>
        <form action="/edit-station/{{station.station_code}}" method="POST">
          <div class='form-group mt-4 pt-5'>
            <label for=''>
              Station Code
            </label>
            <input
              type='text'
              class='form-control'
              name="station_code"
              placeholder='Station Code'
              value="{{station.station_code}}"
            />
          </div>
          <div class='form-group mt-4'>
            <label for=''>
              Station Name
            </label>
            <input
              type='text'
              class='form-control'
              name="station_name"
              placeholder='Station name'
              value="{{station.station_name}}"
            />
          </div>
          
          <button type='submit' class='btn btn-primary mt-4' onclick="return confirm('Are you sure you want to update {{station.station_name}}?')">
            Update
          </button>
        </form>
      </div>
        </div>
    </div>
</section>