<section>
    <div class="conatiner p-5 d-flex justify-content-center align-self-center mt-5">
        <div class="row px-5">
            <img src="/images/metropadam.svg" alt="">
        </div>
        <div class="row px-5">
            <div class="heading">
                <h1>About</h1>
            </div>
        <div class="content">
            <p>
                Live tracking apps have made a significant positive impact on how easy our lives have become. A user-friendly tracking system called MetroYathra enables users to view train arrival and departure times, metro schedules, and much more. The number of individuals
                switching to the metro in Kochi for a quick, punctual, and dependable intra-city transit is steadily rising. Finding the trains is much simpler with MetroYathra at your fingertips.
            </p>
        </div>
        </div>
    </div>
    
        
</section>