<section>
  <div
    class='container-fluid align-middle bg-image shadow-2-strong'
    style='background-image: url(/images/metrocover.jpg); height:100vh;background-position: center;background-repeat: no-repeat;background-size: cover;'
  >
    <div class='row d-flex justify-content-center ' style="padding-top:20rem ;">
      <div class='userlanding text-white'>
        <div class='title'>
          <h1 class="shadow bg-black rounded">
            Welcome to MetroYathra
          </h1>
          <h4 class="shadow bg-black rounded">
            Search for trains, Schedules, Tickets here!!
          </h4>
        </div>
      </div>
      <div class='container-fluid'>
        <div class='row d-flex justify-content-center'>
          <a
            class='btn btn-secondary px-3 mx-3'
            href='/train'
            style='text-decoration: none'
          >
            TRAINS
          </a>
          <a
            class='btn btn-secondary px-3 mx-3'
            href='/ticket'
            style='text-decoration: none'
          >
            TICKETS
          </a>
        </div>
      </div>
    </div>
  </div>
</section>