<section >
    <div class="container-fluid align-middle mt-5">
        <div class="row d-flex justify-content-center mt-5">
  <div class='userlanding'>
    <div class='title'>
      <h1>
        Welcome to MetroYathra
      </h1>
      <h4>
        Search for trains, Schedules, Tickets here!!
      </h4>
    </div>
    </div>
    <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <a class=" btn btn-secondary px-3 mx-3"href='/train' style='text-decoration: none'>
          TRAINS
        </a>
        <a class=" btn btn-secondary px-3 mx-3"href='/ticket' style='text-decoration: none'>
          TICKETS
        </a>
    </div>
  </div>
  </div>
  </div>
</section>